<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mmm.slpck.sejongwiselibrary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:label="@string/app_name"
        tools:replace="label">
        <receiver android:name=".MyBeaconScanResultsReceiver">
            <intent-filter>
                <action android:name="idoit.net.staffon.ACTION_FOUND" />
            </intent-filter>
        </receiver>

        <activity android:name=".IncludeActivity"></activity>
    </application>

</manifest>